@font-face{
  font-family: 'RobotoSlab';
  src: url('../../fonts/Roboto_Slab/RobotoSlab-Regular.ttf') format('truetype');
}
@font-face{
  font-family: 'OpenSans';
  src: url('../../fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype');
}
@font-face{
  font-family: 'OpenSansLight';
  src: url('../../fonts/Open_Sans/OpenSans-Light.ttf') format('truetype');
}
@font-face{
  font-family: 'OpenSansBold';
  src: url('../../fonts/Open_Sans/OpenSans-Bold.ttf') format('truetype');
}

$roboto-font: RobotoSlab, serif;
$opensans-font: OpenSans, sans-serif;
$opensans-font-light: OpenSansLight, sans-serif;
$opensans-font-bold: OpenSansBold, sans-serif;

$white: #fff;
$light-white: #fefefe;
$half-white: rgba(255,255,255,0.5);
$transparent: rgba(0,0,0,0);
$white-grey: #fbfbfb;
$silver: #d8dde0;
$pale-grey: #eceff1;
$main-blue: #186287;
$light-navy: #186287;
$bluish-grey: #78909c;
$mango-orange: #fbb025;
$light-black: rgba(0,0,0,0.2);

$top-bar-bg: #1f4a65;
