// AIzaSyCvg6ly2yFkg4LMQfvvJJzRiuLcSDdU2ms
@import 'variables';
.show-pc{display: block;}
.hide-pc{display: none;}
.show-tablet{display: none;}
.hide-tablet{display: block;}
.show-sm-tablet{display: none;}
.hide-sm-tablet{display: block;}
.show-mobile{display: none;}
.hide-mobile{display: block;}
.box-normal, .box-hover{
  display: block;
  background-color: $white;
  box-shadow: 0 2px 5px 0 $light-black;
  border-radius: 2px;
  position: relative;
  min-height: 4rem;
}
body{
  overflow-x: hidden;
}
p{
  font-family: $opensans-font;
}
.show-element{
  display: block;
}
.clear{clear: both;}
.center{text-align: center;}
.right-align{text-align: right;}
.left-align{text-align: left;}
.box-hover:hover{
  box-shadow: 0 8px 20px 0 $light-black;
}
.service-box{
  padding: 3rem 0 2rem;
}
.button{
  border-radius: 5px;
  border: 1px solid white;
  padding: 7px 30px 7px;
}
.button-blue{
  background-color: $light-navy;
  color: $light-white;
  border-color: $light-navy;
}
.button-blue:hover{
  background-color: $light-white;
  color: $light-navy;
}
.button-blue-inverse{
  background-color: $light-white;
  color: $light-navy;
  border-color: $light-navy;
}
.button-blue-inverse:hover{
  background-color: $light-navy;
  color: $light-white;
}
.button-orange{
  background-color: $mango-orange;
  color: $light-white;
  border-color: $mango-orange;
}
.button-orange:hover{
  background-color: $light-white;
  color: $mango-orange;
}
.button-orange-inverse:hover{
  background-color: $mango-orange;
  color: $light-white;
  border-color: $mango-orange;
}
.button-orange-inverse{
  background-color: $light-white;
  color: $mango-orange;
}
.button-white{
  background-color: $transparent;
  color: $light-white;
  border-color: $light-white;
}
.button-white:hover{
  background-color: $light-white;
  color: $mango-orange;
}
.read-more{
  color: $light-navy;
  position: absolute;
  right: 3rem;
  bottom: -4rem;
  span.arrow{
    display: inline-block;
    height: 12px;
    width: 12px;
    margin-left: 0.6rem;
    background-size: 100%;
    background-image: url('../../images/arrow-blue.svg');
  }
}
.read-more:hover{
  color: $mango-orange;
  span.arrow{
    background-image: url('../../images/arrow-orange.svg');
    transform: translateX(3px);
  }
}
.orange-text{
  color: $mango-orange;
}
.top-bar{
  display: none;
  background-color: $top-bar-bg;
  height: 4vh;
  opacity: 0.8;
}
.top-bar:hover{
  opacity: 1;
}
.header-line{
  width: 21.5rem;
  margin: 1.7rem auto 0;
}
.right-align{text-align: right;}
.fixed{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}
.nav-bar{
  height: 64px;
  // background-color: $half-white;
  position: relative;
  z-index: 10;
  .logo-white{
    float: left;
  }
  a{
    color: $white-grey;
    font-size: 1.6rem;
    font-family: $opensans-font-light;
  }
  .main-links{
    display: inline-block;
    margin: 10px 0 0 20px;
    a{
      display: inline-block;
      margin-right: 20px;
      span{
        display: inline-block;
        float: left;
      }
      span.nav-arrow{
        height: 13px;
        width: 13px;
        margin: 15px 0 0 20px;
        background-size: 100%;
      }
      span.white-arrow{
        background-image: url('../../images/arrow-white.svg');
      }
    }
    a:hover{
      span.nav-arrow{
        transform: translateX(3px);
      }
    }
    a:first-child{
      border-right: 1px solid $light-white;
      padding-right: 20px;
    }
  }
  ul.menu{
    list-style-type: none;
    width: 50rem;
    a{
      float: left;
      padding: 21px 11px 19px 11px;
      border-bottom: 2px solid rgba(0,0,0,0);
    }
    a:hover, a.active{
      border-bottom: 2px solid $light-white;
      color: $mango-orange;
    }
    ul.lang-switcher{
      list-style-type: none;
      float: left;
      padding: 0;
      margin: 1rem 2rem;
      a{
        float: none;
        padding: 0;
      }
      a:hover{
        color: orange;
        border-bottom: 1px solid rgba(0,0,0,0);
      }
    }
  }
  ul.menu > a:last-child{
    background-color: $half-white;
    color: $light-navy;
  }
  ul.menu > a:last-child:hover, ul.menu> a.active:last-child{
    color: $light-white;
    border-bottom: 2px solid $mango-orange;
  }
}
.nav-bar-full-width{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}
.nav-bar.color{
  a{
    color: $light-navy;
  }
  .main-links{
    a:first-child{
      border-right: 1px solid $light-navy;
    }
    a.itc{
      span.nav-arrow{
        background-image: url('../../images/arrow-blue.svg');
      }
    }
    a.bds{
      color: $mango-orange;
      span.nav-arrow{
        background-image: url('../../images/arrow-orange.svg');
      }
    }
  }
  ul.menu{
    a:hover, a.active{
      border-bottom: 2px solid $light-navy;
    }
  }
  ul.menu > a:last-child{
    color: $light-white;
    background-color: $light-navy;
  }
  ul.menu > a:last-child:hover, ul.menu > a.active:last-child{
    color: $light-white;
    border-bottom: 2px solid $mango-orange;
  }
}
.mobile-menu-icon{
  margin-top: 22px;
  margin-right: 15px;
  ul{
    list-style-type: none;
    li{
      height: 3px;
      width: 36px;
      margin-top: 6px;
    }
  }
  ul.white{
    li{
      background-color: $white;
    }
  }
  ul.black{
    li{
      background-color: #186287;
    }
  }
}
.mobile-overlay{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255,255,255,0.98);
  z-index: 99999;
  padding: 14rem 7rem 0;
  .close-mobile-overlay{
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 3rem;
    height: 3rem;
    background-color: $light-navy;
  }
  .main-links, .page-links{
    padding: 0 2rem 2rem;
    border-bottom: 1px solid silver;
  }
  a{
    color: $light-navy;
    display: block;
    margin: 2rem 0 1rem;
  }
  ul.lang-switcher{
    list-style-type: none;
    margin-top: 2rem;
    padding: 0 7rem;
    li{
      float: left;
      a{
        display: inline;
        padding-right: 2rem;
      }
    }
  }
}
.subscribe-block{
  position: relative;
  // width: 110%;
  padding: 1.5rem 7rem 1.3rem;
  h3{
    display: inline-block;
    margin: 0;
    border-right: 1px solid $silver;
    padding-right: 4rem;
    margin-right: 4rem;
    line-height: 2.5;
  }
  form{
    display: inline;
  }
  input.mail{
    display: inline-block;
    border: 1px solid $transparent;
    border-bottom: 1px solid $silver;
    font-weight: 100;
    font-style: italic;
    color: $bluish-grey;
    margin-right: 1rem;
    position: relative;
    width: 22rem;
    top: -3px;
  }
  input.subscribe{
    height: 3.7rem;
    width: 3.7rem;
    background-image: url('../../images/icons/subscribe.png');
    background-size: 100%;
    background-color: $transparent;
    border: 1px solid $transparent;
    background-position: bottom;
  }
  input.subscribe:hover{
    transform: translateY(-2px);
  }
}
.input-border-bottom{
  border: 1px solid $transparent;
  border-bottom: 1px solid $silver;
}
.social-links{
  font-family: $opensans-font-bold;
  color: $light-white;
  position: absolute;
  right: 2rem;
  bottom: -4.5rem;
  .subs-icon{
    width: 2rem;
    height: 2rem;
    background-size: contain;
    display: inline-block;
    margin: 1rem 0.5rem -4px 0.5rem;
  }
  .fb{
    background-image: url('../../images/icons/subs-fb.svg')
  }
  .in{
    background-image: url('../../images/icons/subs-in.svg')
  }
  .insta{
    background-image: url('../../images/icons/subs-inst.svg')
  }
  .fb:hover{
    background-image: url('../../images/icons/subs-fb-hover.svg')
  }
  .in:hover{
    background-image: url('../../images/icons/subs-in-hover.svg')
  }
  .insta:hover{
    background-image: url('../../images/icons/subs-inst-hover.svg')
  }
}
.nav-logo{
  height: 50px;
  width: 160px;
  margin-top: 4px;
  display: inline-block;
  background-size: contain;
  padding: 4px;
}
.logo{
  width: 20rem;
  height: 10rem;
  background-size: 100%;
  margin: 0 auto;
}
.logo-white{
  background-image: url('../../images/logo-white.png');
}
.logo-white:hover{
  background-image: url('../../images/logo-color.png');
}
.logo-color{
  background-image: url('../../images/logo-color.png');
}
.logo-blue{
  background-image: url('../../images/logo-blue.png');
}
.citu-history{
  .logo-container{
      border-right: 1px solid $silver;
      padding: 1rem 1.5rem 2.3rem;
      margin-top: 3px;
    .logo{
      display: block;
      height: 6rem;
      width: 100%;
      background-size: 88%;
      background-position: center;
    }
  }
  .box-normal{
    position: relative;
    padding: 2rem 3rem;
    p{
      font-family: $opensans-font-light;
    }
  }
}
.citu-history-inverse{
  .logo{
    background-image: url('../../images/logo-white.png');
  }
  p{
    color: $light-white;
  }
}
.slick-initialized .slick-slide{outline: none;}
.slick-dots li.slick-active button:before{
  border: 1px solid $light-white;
  border-radius: 100%;
  color: $light-white;
  opacity: 1;
}
.slick-dots li button:before{
  font-size: 8px;
  line-height: 12px;
  width: 12px;
  height: 12px;
  opacity: 1;
  color: white;
}
section.magazine{
  padding: 7rem 0 12rem;
  background-image: $orange-gradient;
}
  .section-header{
    text-align: center;
    h2{
      color: $light-white;
      margin-bottom: 1.2rem;
    }
    .header-line{
      border-bottom: 1px solid $light-white;
    }
    h3{
      margin-top: 7px;
      color: $white-grey;
    }
  }
  .blog-slider-container{
    margin-top: 5rem;
    // width: 120%;
    a.slide{
      height: 22rem;
      width: 37rem;
      display: inline-block;
      margin: 0 0.5rem 0 0.5rem;
    }
    a:hover{
      .post-text{
        h4{
          color: $mango-orange;
        }
      }
    }
    .slick-list{
      height: 24rem;
    }
    .slick-arrow{
      top: -2rem;
      right: 0;
    }
    .slick-arrow.slick-prev{
      left: inherit;
      right: 2rem;
    }
    .slick-next{
    }
  }
  .post-image{
    display: inline-block;
    width: 12rem;
    height: 100%;
    background-color: $light-navy;
    background-image: url('../../images/blogpost-img.jpg');
    background-size: cover;
    background-position: left;
    border-radius: 2px;
  }
  .post-text{
    width: 25rem;
    padding: 1rem;
    display: inline-block;
    h4{
      line-height: 1.4;
      margin-top: 0;
      color: $light-navy;
      letter-spacing: 0.5px;
    }
    p.excerpt{
      font-size: 1.5rem;
      margin-top: 13px;
      font-family: $opensans-font-light;
    }
    p.small-text{
      font-style: italic;
      font-size: 1.3rem;
      margin: 0;
      color: $mango-orange;
      font-family: $opensans-font-light;
    }
  }
  // OEF main page blog slider
  a.button-white{
    width: 14rem;
    display: block;
    margin: 5rem auto 4rem;
  }
// }
section.our-clients{
  padding: 2.3rem;
  background-color: #1f4a65;
  .section-intro{
    text-align: center;
    h3{
      color: $pale-grey;
    }
    .header-line{
      border-bottom: 1px solid $pale-grey;
      margin: 15px auto;
      width: 21rem;
    }
    .clients-container{
      .client{
        img{
          width: 100px;
          height: auto;
          margin: 0 auto;
        }
      }
    }
  }
}
section.contact-us{
  padding: 17rem 0 15rem;
  background-color: silver;
  position: relative;
  #map{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
  .gradient{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 5rem;
    background-image: linear-gradient(180deg,rgba(250, 250, 250, 1),rgba(250, 250, 250, 0));
    z-index: 2;
  }
  .contact-us-container{
    background-color: $light-navy;
    background-color: rgba(25, 80, 117, 0.9);
    padding: 6rem 7rem 3rem;
    position: relative;
    border-radius: 2px;
    z-index: 3;
    h2{
      color: $white-grey;
      margin: 0 0 2.7rem;
    }
    .info-block{
      margin-bottom: 3.5rem;
      h4{
        color: $light-white;
        margin: 0 0 3px;
      }
      .header-line{
        border-bottom: 1px solid $mango-orange;
        margin: 4px 0 4px;
        width: 6rem;
      }
      a, p{
        margin: 0;
        color: $white-grey;
        line-height: 1.5;
        font-family: $opensans-font-light;
      }
      a:hover{
        text-decoration: underline;
      }
    }
    .form-block{
      background-color: $white;
      padding: 5rem 4rem 1rem 4rem;
      position: absolute;
      top: -8rem;
      right: 4rem;
      width: 67rem;
      // height: 47rem;
      h3{
        color: $light-navy;
        margin: 0 0 4rem;
        letter-spacing: 0.3px;
      }
      p{display: inline-block;}
      input[type=text].margin-right{
        margin-right: 3rem;
      }
      label{font-size: 1.3rem; font-weight: 300;}
      textarea{
        width: 100%;
        height: 10rem;
        padding: 1rem;
        border-radius: 2px;
        border-color: $silver;
        font-style: italic;
        color: $bluish-grey;
      }
      input[type=text], input[type=email]{
        width: 28rem;
        float: left;
        margin: 1rem 1rem 0 0;
        background-color: $white;
        border: 1px solid transparent;
        border-bottom: 1px solid $silver;
        font-style: italic;
        color: $bluish-grey;
        transition: 0.1s;
      }
      input[type=submit]{
        font-style: normal;
        background-color: $light-white;
        color: $mango-orange;
        border-color: $mango-orange;
        border-radius: 5px;
        border: 1px solid $mango-orange;
        padding: 7px 30px 7px;
      }
      form p:nth-child(6) {
        display: block;
        text-align: right;
      }
      input[type=submit]:hover{
        background-color: $mango-orange;
        color: $light-white;
      }
      input[type=text]:focus, input[type=email]:focus{
        border-bottom: 1px solid $mango-orange;
      }
      input[type=text]::placeholder, input[type=email]::placeholder{
        color: $pale-grey;
      }
    }
  }
}
section.footer{
  margin-top: -1rem;
  background-color: $light-navy;
  padding: 2rem 0;
  .logo{
    width: 15.6rem;
    height: 6rem;
  }
  .footer-central-text{
    text-align: center;
    p{
    color: $light-white;
    }
    a{
      color: $mango-orange;
    }
    a.footer-mail{
      color: $light-white;
      text-decoration: underline;
    }
  }
  .social-links{
    right: 2rem;
    top: 0.7rem;
    bottom: 0;
    a.subs-icon{
      width: 2.3rem;
      height: 2.3rem;
    }
  }
}
section.cellar{
  background-color: #1f4a65;
  margin-top: -5px;
  padding: 5px 0;
  text-align: center;
  font-size: 1rem;
  span{
    color: $light-white;
    a{
      color: $silver;
      font-family: $opensans-font-bold;
    }
    a:hover{
      color: $mango-orange;
    }
  }
}
@media (max-width: 1024px) {
  .show-pc{display: none;}
  .hide-pc{display: block;}
  .show-tablet{display: block;}
  .hide-tablet{display: none;}
  .show-mobile{display: none;}
  .hide-mobile{display: block;}
  .hide-sm-tablet{display: block;}
  .mobile-overlay{
    padding: 19rem 34rem 0;
    .close-mobile-overlay{
    }
    .main-links, .page-links{
    }
    ul.lang-switcher{
      li{
        a{
        }
      }
    }
  }
  .subscribe-block{
    padding: 1.5rem 8rem;
  }
  .social-links{
    text-align: center;
    bottom: -4.5rem;
    .subs-icon{
      height: 2.5rem;
      width: 2.5rem;
    }
  }
  .citu-history{
    .logo-container{
      margin-top: 1rem;
      .logo{
        height: 5rem;
      }
    }
  }
  section.contact-us{
    background-color: $light-navy;
    padding: 9rem 0 0rem;
    #map{display: none;}
    .container{
      width: 100%;
      .contact-us-container{
        background-color: $light-navy;
        padding: 2rem 3rem 3rem 7rem;
        .form-block{
          width: 58rem;
          padding: 4rem 3rem 2rem 3rem;
          h3{padding-bottom: 1rem; margin-bottom: 1rem;}
          input[type=text], input[type=email]{
            width: 24rem;
            margin: 1rem 0 0;
          }
          input[type=text].margin-right {
            margin-right: 3rem;
          }
          textarea{
            width: 50rem;
            height: 5rem;
            margin-top: 1rem;
          }
        }
        .form-block form p:nth-child(6) {
          display: block;
          text-align: center;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .show-sm-tablet{display: block;}
  .hide-sm-tablet{display: none;}
  .mobile-overlay{
    padding: 27rem 21rem 0;
    .close-mobile-overlay{
    }
    .main-links, .page-links{
    }
    ul.lang-switcher{
      li{
        a{
        }
      }
    }
  }
  .subscribe-block{
    padding: 1.5rem 4rem;
  }
  .citu-history{
    .logo-container{
      margin-top: 2rem;
      .logo{
        height: 5rem;
      }
    }
  }
  section.contact-us{
    .container{
      .contact-us-container{
        padding: 2rem 3rem 3rem;
        .form-block{
          width: 42rem;
          right: 0rem;
          padding: 4rem 1rem 1rem 3rem;
          h3{padding-bottom: 2rem;}
          input[type=text], input[type=email]{
            width: 17rem;
            margin: 0.5rem 1rem 1rem 0;
          }
          textarea{
            width: 100% !important;
            height: 5rem;
          }
        }
      }
    }
  }
  section.footer{
    .logo{
      width: 20rem;
      height: 8rem;
    }
    .footer-central-text{
    }
    .social-links{
      position: relative;
      top: -2.2rem;
      a.subs-icon{
        width: 3rem;
        height: 3rem;
      }
    }
  }
}
@media (max-width: 414px) {
  .hide-mobile{display: none !important;}
  .show-mobile{display: block !important;}
  .nav-bar{
    padding: 0 0 0 1rem;
  }
  .citu-history{
    .box-normal{
      padding: 3.1rem 3rem 2.1rem;
    }
    .logo-container{
      border-right: 1px solid $transparent;
      border-bottom: 1px solid $silver;
      margin-bottom: 2rem;
      .logo{
        height: 8rem;
        width: 20rem;
      }
    }
  }

  section.contact-us{
    padding-top: 4rem;
    padding-bottom: 58rem;
    h2{font-size: 3.1rem;}
    .container{
      .contact-us-container{
        .info-block{
          margin-bottom: 1.5rem;
        }
        h2{text-align: center;}
        .form-block{
          padding: 2rem 3rem 3rem;
          width: 100%;
          right: 0rem;
          z-index: 999;
          margin-top: 38rem;
          h3{
            margin-bottom: 2rem;
          }
          textarea{margin-bottom: 1rem;}
          input[type=text], input[type=email]{
            width: 100%;
            margin: 0.5rem 0 1.5rem;
          }
        }
      }
    }
  }
  section.footer{
    .social-links{
      right: 0;
    }
  }
}

@keyframes showFilterBlock{
  0%{transform: translateY(-100%); opacity: 0; display: none;}
  100%{transform: translateY(0%); opacity: 1; display: block !important;}
}
