@import 'variables';
// @import 'components';
html{
  // font-size: 100%;
  font-size: 62.5%;
}
body{
  font-size: 1rem;
  color: $main-blue;
  font-family: $opensans-font;
  background-color: $light-white;
  text-rendering: optimizeLegibility;
}
*{
  background-repeat: no-repeat;
  transition: 0.1s;
  box-sizing: border-box;
}
a, span, input, button, textarea{font-size: 1.6rem; outline: none; }
a:hover{text-decoration: none;}
h1, h2, h3, h4, h5{font-family: $roboto-font;}
h1{color: $white-grey;font-size: 4.2rem;}
h2{color: $light-navy; font-size: 3.4rem;}
h3{color: $bluish-grey;font-size: 2.1rem;line-height: 2.8rem;}
p{color: $bluish-grey;font-size: 1.6rem;line-height: 1.4;}
ul, ol{font-size: 1.6rem;}
.no-padding{padding: 0;}

section.intro{
  position: relative;
  height: 97vh;
  background-image: url('../../images/lviv-morning.jpg');
  // background-attachment: fixed;
  background-size: cover;
  background-position: left;
  .gradient-overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 97vh;
    background: linear-gradient(113deg, #24c6dc, #514a9d);
    opacity: 0.4;
    z-index: 1;
  }
  .tagline-container{
    position: relative;
    z-index: 10;
    text-align: center;
    margin-top: 40vh;
    .logo{
      background-image: url('../../images/tulip-logo.png');
      width: 30rem;
      height: 15.5rem;
    }
    .header-line{
      border-bottom: 1px solid $light-white;
    }
    h2{
      color: $pale-grey;
    }
  }
}
.home-page{
  section.features{
    padding: 7rem 0;
    background-color: $white-grey;
    h1, h2, h3, h4{text-align: center;}
    .header-line{border-bottom: 1px solid $light-navy;}
    h2{
      margin-bottom: 1.2rem;
    }
    h3{
      margin-top: 7px;
      color: $bluish-grey;
      margin-bottom: 6.3rem;
    }
    .feature-item{
      text-align: center;
      .feature-icon{
        width: 10rem;
        height: 10rem;
        background-size: 100%;
        margin: 0 auto;
      }
      .lead-in-it{
        background-image: url('../../images/icons/leading-in-it.svg');
      }
      .agriculture{
        background-image: url('../../images/icons/agriculture.svg');
      }
      .professionals{
        background-image: url('../../images/icons/professionals.svg');
      }
      .cost-advances{
        background-image: url('../../images/icons/cost-advances.svg');
      }
      h4{
        color: $mango-orange;
        margin: 3.5rem 0 1.2rem;
      }
      .header-line{
        border-bottom: 1px solid $silver;
        width: 4rem;
      }
      p{
        margin-top: .7rem;
        letter-spacing: -0.4px;
        .small{
          text-align: right;
          font-size: 1.3rem;
          letter-spacing: -0.5px;
          font-style: italic;
          color: $silver;
        }
      }
    }
    #advantages{
      opacity: 0;
    }
    .advantages{
      position: relative;
      margin: 5rem 0 7rem;
      padding: 1.5rem 0 4.7rem;
      background-image: url('../../images/icons/holland-to-ua.svg');
      background-size: 90%;
      background-position: 50% 70%;
      h3{
        color: $light-navy;
        padding-bottom: 1rem;
        border-bottom: 1px solid $silver;
        margin-bottom: 0;
      }
      .advantages-list{
        padding-top: 9rem;
        ul{
          list-style-type: none;
          width: 310px;
          margin: 0 auto;
          li{
            font-size: 1.8rem;
            line-height: 2.1rem;
            color: $bluish-grey;
            margin-top: 1rem;
            letter-spacing: 0.3px;
          }
        }
      }
    }
  }
  section.services{
    background-color: $pale-grey;
    margin-top: -20rem;
    padding-top: 17.4rem;
    padding-bottom: 10rem;
    .services-logo{
      width: 25rem;
      height: 8rem;
      background-size: 100%;
      margin: 0 auto;
    }
    .header-line{
      border-bottom: 1px solid $light-navy;
      width: 20rem;
    }
    h2{
      text-align: center;
      margin-top: 1rem;
      color: $mango-orange;
    }
    #move-service-item{
      transform: translateX(-389px);
      // opacity: 0;
    }
    .service-box{
      margin-top: 5rem;
      .service-icon{
        width: 30rem;
        height: 17rem;
        background-size: 100%;
        margin: 0 auto;
      }
      .service-icon.itc{
        background-image: url('../../images/icons/itc.svg');
      }
      .service-icon.bds{
        background-image: url('../../images/icons/bds.svg');
      }
      h4{
        text-align: center;
        border-bottom: 1px solid $silver;
        padding-bottom: 1.5rem;
        line-height: 1.6;
        margin-top: 2rem;
      }
      p{
        margin: 1.5rem 3rem;
      }
      .button{
        margin: 3.8rem auto 0;
        display: block;
        width: 14.6rem;
      }
    }
  }
  section.magazine{
    a.button-white{
      width: 17.7rem;
    }
    .slick-dots li button:before{
      color: white;
      border-color: white;
    }
  }
  section.about-us{
    padding: 9rem 0 10rem;
    background-color: $white-grey;
    .section-header{
      text-align: center;
      h2{
        margin-bottom: 1.2rem;
        color: $light-navy;
      }
      .header-line{
        border-bottom: 1px solid $bluish-grey;
      }
      h3{
        margin-top: 7px;
        color: $mango-orange;
      }
    }
    .about-us-container{
      margin: 5rem 0;
      p{
        font-family: $opensans-font-light;
      }
      .about-us-icon{
        width: 7rem;
        height: 7rem;
        background-size: contain;
        display: inline-block;
        margin-bottom: 1rem;
      }
      .lang-icon{
        background-image: url('../../images/icons/about-lang.svg');
      }
      .cult-diff-icon{
        background-image: url('../../images/icons/about-culture-diff.svg');
      }
      .all-in-one-icon{
        background-image: url('../../images/icons/about-all-in-one.svg');
      }
      .one-site-icon{
        background-image: url('../../images/icons/about-dutch-team.svg');
      }
    }
  }

  section.contact-us{
  }
  section.footer{
  }
  section.cellar{
  }
}
